# Sets up systemd to start, stop, and restart the statesetd daemon.
# This should live in /etc/systemd/system on an Ubuntu instance.
#
# Use like so:
# sudo systemctl start statesetd.service
# sudo systemctl stop statesetd.service
# sudo systemctl restart statesetd.service
#
# Tail logs:
# journalctl -u statesetd.service -f

[Unit]
Description=Stateset Node
After=network-online.target

[Service]
User=ubuntu
ExecStart=/home/ubuntu/go/bin/statesetd --log_level "main:info,state:info,*:error,app:info,account:info,statebank2:info,agreement:info,marketplace:info,stateslashing:info,statefactoring:info" start
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target